body{
    /* margin-left: 0;
    margin-top: 0; */
    margin: 0;
    padding: 0;
}
.intro-section{
    display: flex;
    margin-top: 10px;
    padding: 0 6%;
    height: 450px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
    padding-left:16%;
}
.heading-div{
font-family: 'Merriweather', serif;
border-left: 4px solid #fcbe03;
padding-left: 15px;
}
.heading-div h1{
    font-size: 40px;
}
.heading-div h2{
    font-size: 36px;
    color: #03d3fc;
}
.intro-section .content-div{
margin:auto 0px;
padding-left: 30px;
}
.button-div .linked-button {
text-decoration: none;
padding: 8px 12px;
border-radius: 3px;
color: white;
font-size: 17px;
font-weight: 700;
background-color: #fcbe03;
/* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}
.button-div{
   padding-top: 15px;
}


.mission-section .mission-div-heading{
margin-top: 30px;
padding: 10px;
}
.mission-section .mission-div-heading h1{
    font-size: 43px;
    text-align: center;
}
.mission-section .mission-div-heading span{
    color: #03d3fc;
}

.mission-section .mission-content{
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission-section .mission-content h4{
    font-size: 23px;
}
.mission-section .mission-content div{
    padding: 15px;
    margin:0px 10px;
    border-radius: 30px;
}
.mission-section .mission-content div img{
    width: 40%;
}

.mission-section .mission-content .Mission{
/* background-color: ; */
background-color: rgba(130,74,233,0.3)

}
.mission-section .mission-content .Vission{
    background-color: rgba(247,240,231,1)
}
.mission-section .mission-content .Goals{
background-color: rgba(164,164,164,0.5);
}



.develop-section{
    display: flex;
    margin-top: 30px;
    /* padding-left: 40px; */
    height: 450px;
    padding:0 6%;
}
.develop-section .left-div{
    width: 40%;
    margin:auto 0px;
    background-image: url('../images/shapes/shape-1.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: left center;
    
    /* padding-left: 1%; */  
}
.develop-section .left-div img{
    padding-left: 16%;
    width: 60%;
}
.develop-section .right-div{
    width: 60%;
    margin:auto 0px;
}
.develop-section .right-div .content-heading h1{
font-size: 40px;
}



.Knowladge-section{
    display: flex;
    margin-top: 30px;
    /* padding-left: 40px; */
    height: 450px;
    padding:0 6%;
}
.Knowladge-section .right-div{
    width: 40%;
    margin:auto 0px;
    background-image: url('../images/shapes/shape-1.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right bottom;
}
.Knowladge-section .right-div img{
    padding-left: 20%;
    width: 60%;
    padding-bottom: 15%;
}
.Knowladge-section .left-div{
    width: 60%;
    margin:auto 0px;
    padding-bottom: 15%;
}
.Knowladge-section .left-div .content-heading h1{
font-size: 40px;
}


.footer{
    background-color: black;
    margin:0;
}
.footer .content{
   
    padding: 20px;
    /* padding: 0%; */
   
    text-align: center;
    color: white;
}
.footer .content h3{
    font-size: 27px;
    font-family: 'Merriweather', serif;
}
.footer .content span{
    color: #03d3fc;
}